input {
  file {
    path => "/data/logstash/logs/myvipre_site-eventprocessor*"
    start_position => "beginning"
    add_field => {
      "type" => "site-eventprocessor"
    }
  }
}

filter {
  grok {
    match => { "message" => "%{TIMESTAMP_ISO8601:timestamp} %{GREEDYDATA:data}"}
  }
  date {
    match => [ "timestamp", "ISO8601" ]
    target => "@timestamp"
  }
  mutate {
    remove_field => ["data", "timestamp"]
  }
}

output {
  elasticsearch {
		hosts => "elasticsearch:9200"
	}
  stdout { codec => rubydebug }
}
