input {
  file {
    path => "/data/logstash/logs/myvipre_ui-rest*"
    start_position => "beginning"
    add_field => {
      "type" => "ui-rest"
    }
  }
}

filter {
  grok {
    match => { "message" => "%{TIMESTAMP_ISO8601:timestamp} %{GREEDYDATA:data}"}
  }
  date {
    match => [ "timestamp", "ISO8601" ]
    target => "@timestamp"
  }
  mutate {
    remove_field => ["data", "timestamp"]
  }
}

output {
  stdout { codec => rubydebug }
}
